<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639165426557-t0lu47ut8h620t48npj6qllefdrfimlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639165426557-t0lu47ut8h620t48npj6qllefdrfimlj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>639165426557-jhglshssqtf2622v3p5k438p14gig6l4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjppQcqrj5cFUMz_vLzFU7KvtjykY4zXA</string>
	<key>GCM_SENDER_ID</key>
	<string>639165426557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamone.utalibrary</string>
	<key>PROJECT_ID</key>
	<string>uta-library-7</string>
	<key>STORAGE_BUCKET</key>
	<string>uta-library-7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639165426557:ios:7d3849174df32c8fd73a14</string>
</dict>
</plist>